app-article {
  margin-top: 64px;
  margin-bottom: 32px;
  width: 50%;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%
}

@media screen and (max-width:960px) {
  app-article {
    width: 80%;
  }
}
