.sponsor {
  width: 40%;
  margin: 8px;
}

img {
  height: 30%;
  width: auto;
}

.sponsor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width:960px) {
  sponsor {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}
