<div class="card flex-row flex-wrap">
  <div *ngIf="driver.image" class="card-header border-0">
    <img src="{{'https://strapi-l8cn-f0jv.onrender.com' + driver.image.formats.thumbnail.url}}" alt="">
  </div>
  <div class="card-block px-2">
    <h4 class="card-title">{{driver.name}}</h4>
    <p class="card-text">Rolle: {{driver.Rolle}}</p>
    <p *ngIf="driver.description" class="card-text" [innerHTML]="'Beschreibung: ' + driver.description | markdown"></p>
    <p class="card-text">Wohnort: {{driver.Wohnort}}</p>
    <p *ngIf="driver.Hardware" class="card-text" [innerHTML]="'Hardware: ' + driver.Hardware | markdown"></p>
    <p class="card-text">iRating: {{driver.iRating}}</p>
  </div>
</div>
