<header>
  <div class="title">
    <div class="title-left">
      <img src="/assets/logo.png">
      <div *ngIf="homepageData">{{this.homepageData.title}}</div>
    </div>
    <div class="navigation">
      <a href="#welcome">Willkommen</a>
      <a href="#news">News</a>
      <a href="#team">Team</a>
      <a href="#sponsors">Sponsoren</a>
      <a href="#social">Social</a>
    </div>
  </div>
</header>
<div class="section-container">
  <a id="welcome"></a>
  <section>
    <div class="section-content">
      <app-carousel></app-carousel>
      <p *ngIf="homepageData">{{this.homepageData.welcomeText}}</p>
    </div>
  </section>
  <a id="news"></a>
  <section>
    <div class="section-content">
      <h1 class="display-4">News</h1>
      <app-news></app-news>
    </div>
  </section>
  <a id="team"></a>
  <section>
    <div class="section-content">
      <h1 class="display-4">Das Team</h1>
      <p *ngIf="homepageData">{{this.homepageData.driverText}}</p>
      <app-drivers></app-drivers>
    </div>
  </section>
  <a id="sponsors"></a>
  <section>
    <div class="section-content">
      <h1 class="display-4">Sponsoren</h1>
      <p *ngIf="homepageData">{{this.homepageData.sponsor}}</p>
      <app-sponsor></app-sponsor>
    </div>
  </section>
  <a id="social"></a>
  <section>
    <div class="section-content">
      <h1 class="display-4">Social</h1>
      <p *ngIf="homepageData">{{this.homepageData.socialText}}</p>
      <div class="social-grid">
        <div class="social-channel">
          <a href="https://www.twitch.tv/mtperformance_esport" target="_blank">
            <svg class="social-icon" width="32" height="32" fill="currentColor">
              <use xlink:href="assets/icons/bootstrap-icons.svg#twitch"/>
            </svg>
            <div>Twitch</div>
          </a>
        </div>
        <div class="social-channel">
          <a href="https://www.youtube.com/channel/UC3XwCeDU5IOwYUVyybEoZKQ" target="_blank">
            <svg class="social-icon" width="32" height="32" fill="currentColor">
              <use xlink:href="assets/icons/bootstrap-icons.svg#youtube"/>
            </svg>
            <div>Youtube</div>
          </a>
        </div>
        <div class="social-channel">
          <a href="https://www.facebook.com/MTPTobias" target="_blank">
            <svg class="social-icon" width="32" height="32" fill="currentColor">
              <use xlink:href="assets/icons/bootstrap-icons.svg#facebook"/>
            </svg>
            <div>Facebook</div>
          </a>
        </div>
        <div class="social-channel">
          <a href="https://www.instagram.com/mt_performance15" target="_blank">
            <svg class="social-icon" width="32" height="32" fill="currentColor">
              <use xlink:href="assets/icons/bootstrap-icons.svg#instagram"/>
            </svg>
            <div>Instagram</div>
          </a>
        </div>
        <div class="social-channel">
          <a href="https://discord.com" target="_blank">
            <svg class="social-icon" width="32" height="32" fill="currentColor">
              <use xlink:href="assets/icons/bootstrap-icons.svg#discord"/>
            </svg>
            <div>Discord</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<footer>
  <div id="app-footer">
    <a href="https://github.com/tobibechtold/mt-performance" target="_blank">
      <img src="assets/github.png" title="View this project on github.com" alt="View this project on github.com">
    </a>
  </div>
</footer>
