<header>
  <div class="title">
    <div class="title-left">
      <img src="/assets/logo.png">
      <div *ngIf="homepageData">{{this.homepageData.title}}</div>
    </div>
    <div class="navigation">
      <a href="#welcome">Willkommen</a>
      <a href="#news">News</a>
      <a href="#team">Team</a>
      <a href="#sponsors">Sponsoren</a>
      <a href="#social">Social</a>
    </div>
  </div>
</header>
<div class="section-container">
  <a id="welcome"></a>
  <section>
    <div class="section-content">
      <app-carousel></app-carousel>
      <p *ngIf="homepageData" [innerHTML]="this.homepageData.welcomeText | markdown"></p>
    </div>
  </section>
  <a id="news"></a>
  <section>
    <div class="section-content">
      <h1 class="display-4">News</h1>
      <app-news></app-news>
    </div>
  </section>
  <a id="team"></a>
  <section>
    <div class="section-content">
      <h1 class="display-4">Das Team</h1>
      <p *ngIf="homepageData" [innerHTML]="this.homepageData.driverText | markdown"></p>
      <app-drivers></app-drivers>
    </div>
  </section>
  <a id="sponsors"></a>
  <section>
    <div class="section-content">
      <h1 class="display-4">Sponsoren</h1>
      <p *ngIf="homepageData" [innerHTML]="this.homepageData.sponsor | markdown"></p>
      <app-sponsor></app-sponsor>
    </div>
  </section>
  <a id="social"></a>
  <section>
    <div class="section-content">
      <h1 class="display-4">Social</h1>
      <p *ngIf="homepageData" [innerHTML]="this.homepageData.socialText | markdown"></p>
      <app-social></app-social>
    </div>
  </section>
</div>
<footer>
  <div id="app-footer">
    <a href="https://github.com/tobibechtold/mt-performance" target="_blank">
      <img src="assets/github.png" title="View this project on github.com" alt="View this project on github.com">
    </a>
  </div>
</footer>
